<div class="unit-card">
  <h2 class="unit-card__heading">Toy1</h2>
  <div class="unit-card__descriptor">
    <div class="unit-card__leftpan">
      <img
        class="unit-card__toy-image"
        src="https://via.placeholder.com/95x112"
        alt="cristmas-toy"
      >
      <div class="unit-card__is-favorite ">
        <div class="ribbon">

        </div>
      </div>
    </div>
    <div class="unit-card__rigtpan">
      <ul class="unit-card__properties">
        <li class="unit-card__prop-item">
          Count : 4
        </li>
        <li class="unit-card__prop-item">
          Purchcase date : 1980
        </li>
        <li class="unit-card__prop-item">
          Shape : figure
        </li>
        <li class="unit-card__prop-item">
          Color : red
        </li>
        <li class="unit-card__prop-item">
          Size : m
        </li>
        <li class="unit-card__prop-item">
          Favorite : yes
        </li>
      </ul>
    </div>
  </div>
</div>