<div class="value-filter">
  <div class="value-filter__descriptor">
    <h4 class="value-filter__caption">Цвет</h4>
  </div>
  <div class="value-filter__controls">
    <button data-filter="белый"></button>
    <button data-filter="желтый"></button>
    <button data-filter="красный"></button>
    <button data-filter="синий"></button>
    <button data-filter="зелёный"></button>
  </div>
</div>

<div class="value-filter">
  <div class="value-filter__descriptor">
    <h4 class="value-filter__caption">Размер</h4>
  </div>
  <div class="value-filter__controls">
    <button data-filter="большой"></button>
    <button data-filter="средний"></button>
    <button data-filter="малый"></button>
  </div>
</div>

<div class="value-filter">
  <div class="value-filter__descriptor">
    <h4 class="value-filter__caption">Форма</h4>
  </div>
  <div class="value-filter__controls">
    <button data-filter="шар"></button>
    <button data-filter="колокольчик"></button>
    <button data-filter="шишка"></button>
    <button data-filter="снежинка"></button>
    <button data-filter="фигурка"></button>
  </div>
</div>