<div class="header-block">
  <!-- single element  -->
  <ul class="header-block__navigation-list">
    <li class="header-block__nav-item">
      <a
        class="header-block__nav-link"
        href="#start-sector"
      > старт</a>
    </li>
    <!--  -->
    <li class="header-block__nav-item">
      <a
        class="header-block__nav-link"
        href="#toys-sector"
      > игрушки</a>
    </li>

    <li class="header-block__nav-item">
      <a
        class="header-block__nav-link"
        href="#tree-sector"
      >ёлка</a>
    </li>
  </ul>
</div>